.project{
    color: white;
}

.project .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  flex-wrap: wrap; /* Allows wrapping of cards on smaller screens */
}
  
.container .card {
  position: relative;
  max-width: 400px;
  height: 315px;
  background-color: #fff;
  color: black;
  margin: 20px 10px 0px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  /* background-image: url('../../assets/facebook-integration.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.project h4 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 50px;
  margin: 10px 0;
}
.project h4 {
  margin: 0px;
  /* background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent); */
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #000000, #000000, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
.projects-card{
  height: 550px !important;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5) !important;
  align-items: center;
}
.image-container {
  width: 75%;
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
  .project .container {
    padding: 0px 10px;
  }

  .project h4 {
    font-size: 35px; /* Smaller font for heading on smaller screens */
  }

  .image-container {
    width: 70%; /* Expand image container for smaller screens */
    height: auto;
  }
}

@media (max-width: 480px) {
  .container .card {
    margin: 10px 0;
    padding: 15px;
  }

  .project h4 {
    font-size: 28px; /* Further reduce font size on very small screens */
  }

  .image-container {
    width: 80%; /* Full width for very small screens */
    height: auto;
  }
}